/*15. ฟอน รีสตอร์ฟ เอฟเฟ็กต์(Von Restorff Effect)  */
.font_stat{font-size:2.2rem; font-weight:bold;}
.font_btn{font-size:1.3rem; font-weight:bold;}
/*15. ฟอน รีสตอร์ฟ เอฟเฟ็กต์(Von Restorff Effect)  */

body{
    font-family: "Trirong", serif;
}

header{
    position: fixed;
     width: 100%;
     z-index: 999999;
 }
.cookie-consent{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 260px;
    padding-top: 7px;
    height: 83px;
    color: #fff;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    background: #292929;
    z-index: 1030;
    cursor: pointer;
    border-radius: 3px;
}

.allow-button{
    height: 20px;
    width: 104px;
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    border-radius: 3px;
    border: 1px solid green;
    background-color: green;
}

.button-group {
    height: 18rem;
    width: 50rem;
    background-color: #ffffffa4;
    padding-top: 11px;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    left: 3.5%;
}

.text-center{
    text-align: center;
}

.text-blue {
    color: blue;
}

.text-green {
    color: green;
}

.text-yellow {
    color: #F59E0B;
}

.text-red {
    color: red;
}
.footer-element{
    margin: 0 auto;
}
.footer-button button{
    margin-top: 10px;
}
.icon-nav{
    width: 15px;
    height: 15px;
    align-items: center;
    margin-top: -1px;
    margin-left: 10px;
    padding-right: 1px;
}
.nav-header{
    justify-content: space-around;
}
.bg-nav-contain{
    background-color: #6aaddb;
}
.icon-user{
    margin-left: 20px;
}
.icon-users{
    width: 50px;
    height: 50px;
}
.imgs{
    text-align: center;
    justify-content: center;
    margin: 0 499px;
}
.navbar{
    position: fixed i;
    z-index: 99999999999;
}
@media (max-width: 768px) {
    .button-group {
        height: auto;
        width: 30%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

a:active {
    background-color: rgb(132,48,238);
    border-radius: 50px;
}
a:hover{
    text-decoration: none;
}